<div class="container" style="margin-top: 70px;">
	<div class="row">
		<div class="col-md-8" style="margin-top: 13px;">
			<div id="sliderFrame">
                <div id="slider">
                    <a class="lazyImage" href="/assets/arm-candies.jpg" ></a>
                    <a class="lazyImage " href="/assets/casuals.jpg" ></a>
                    <a class="lazyImage" href="/assets/category-landing1.jpg" ></a>
                    <a class="lazyImage " href="/assets/category-landing2.jpg" ></a>
                    <a class="lazyImage" href="/assets/category-landing3.jpg"></a>
                    <a class="lazyImage " href="/assets/celebrations.jpg"></a>
                    <a class="lazyImage" href="/assets/ethnic-fest.jpg"></a>
                    <a class="lazyImage " href="/assets/gear-up.jpg"></a>
                    <a class="lazyImage" href="/assets/holiday-shopping.jpg"></a>
                    <a class="lazyImage " href="/assets/ipad.jpg"></a>
                    <a class="lazyImage " href="/assets/men-shoes1.jpg"></a>
                    <a class="lazyImage" href="/assets/men-shoes2.jpg"></a>
                    <a class="lazyImage " href="/assets/men-sunglasses.jpg"></a>
                    <a class="lazyImage" href="/assets/men-winterwear.jpg"></a>
                    <a class="lazyImage " href="/assets/music-instruments.jpg"></a>
                    <a class="lazyImage " href="/assets/saree.jpg"></a>
                    <a class="lazyImage " href="/assets/women-shoes1.jpg"></a>
                    <a class="lazyImage " href="/assets/women-shoes2.jpg"></a>
                    <a class="lazyImage " href="/assets/women-sunglasses.jpg"></a>
                    <a class="lazyImage " href="/assets/women-winterwear.jpg"></a>
                </div>
            </div>
		</div>
		<div class="col-md-4" style="margin-top: 13px;">
			<a href="#">
				<img id="iCartLogo" style="height: 350px;" src="/assets/nexus5.jpg" class="img-responsive" alt="Responsive image" />
			</a>
		</div>
	</div>


	<div class="row">
		<div class="col-md-8" style="margin-top: 13px;">

			<div class="" style="background-color: #424242; height: 40px;">
				<h2 class="header" style="background-color: #424242; height: 38px;">
					<span style="text-transform: uppercase; font-size: 16px; color: #ffffff; margin-left: 10px;">Electronics</span>
					<span style="font-size: 14px; color: #ffffff; margin-right: 10px; float: right; margin-top: 12px;">India's leading electronics megastore</span>
				</h2>
			</div>

			<div class="cls" style="background-color: #ffffff; height: 180px;">
			  <ul class="ulBullet" style="margin-left:10px; margin-top:5px;">
			  	<% @categories.each do |category| %>
			  		<% if get_parent_name(category.parent_id) == "Electronics" %>
							<li class="fltLeft" style="width: 240px; height: 138px; margin-left: 2px;">
								<a class="fltLeft" href="subcategory/<%= category.name %>" data-tracking-id="">
									<div class="fltLeft">
										<img class="imageSize" src="<%= category.image %>">
									</div>
									<div class=" labelSize" style="position:relative; top:10px; left:100px;">
										<span class="arrow-right"><b><%= category.name %></b></span>
									</div>
								</a>
							</li>
						<% end %>
					<% end %>

				</ul>
			</div>

			



			<!--   second Category  -->

			<div class="" style="background-color: #424242; height: 40px; margin-top: 20px;">
				<h2 class="header" style="background-color: #424242; height: 38px;">
					<span style="text-transform: uppercase; font-size: 16px; color: #ffffff; margin-left: 10px;">Books</span>
					<span style="font-size: 14px; color: #ffffff; margin-right: 10px; float: right; margin-top: 12px;">India's leading books megastore</span>
				</h2>
			</div>


			<div class="cls" style="background-color: #ffffff; height: 180px;">
			  <ul class="ulBullet" style="margin-left:10px; margin-top:5px;">
			  	<% @categories.each do |category| %>
			  		<% if get_parent_name(category.parent_id) == "Books" %>
							<li class="fltLeft" style="width: 240px; height: 138px; margin-left: 2px;">
								<a class="fltLeft" href="#" data-tracking-id="">
									<div class="fltLeft">
										<img class="imageSize" src="<%= category.image %>">
									</div>
									<div class=" labelSize" style="position:relative; top:10px; left:100px;">
										<span class="arrow-right"><b><%= category.name %></b></span>
									</div>
								</a>
							</li>
						<% end %>
					<% end %>

				</ul>
			</div>




		

			<!--   Third Category  -->

			<div class="" style="background-color: #424242; height: 40px; margin-top: 20px;">
				<h2 class="header" style="background-color: #424242; height: 38px;">
					<span style="text-transform: uppercase; font-size: 16px; color: #ffffff; margin-left: 10px;">Fashion</span>
					<span style="font-size: 14px; color: #ffffff; margin-right: 10px; float: right; margin-top: 12px;">India's leading FAshion megastore</span>
				</h2>
			</div>

			<div class="cls" style="background-color: #ffffff; height: 180px;">
			  <ul class="ulBullet" style="margin-left:10px; margin-top:5px;">
			  	<% @categories.each do |category| %>
			  		<% if get_parent_name(category.parent_id) == "Fashion" %>
							<li class="fltLeft" style="width: 240px; height: 138px; margin-left: 2px;">
								<a class="fltLeft" href="#" data-tracking-id="">
									<div class="fltLeft">
										<img class="imageSize" src="<%= category.image %>">
									</div>
									<div class=" labelSize" style="position:relative; top:10px; left:100px;">
										<span class="arrow-right"><b><%= category.name %></b></span>
									</div>
								</a>
							</li>
						<% end %>
					<% end %>

				</ul>
			</div>



		</div>

			<div class="col-md-4" style="margin-top: 13px;">
			
				
			</div>
	</div>
</div>