<div>
<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #005387;">
	<div class="container"> 
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#">
						<img id="iCartLogo" src="/assets/site_logo.png" style="width: 65px; height: 45px;"  class="img-responsive" alt="Responsive image" />
					</a>
				</li>

				<li style="margin-top: 13px; float: left;">
					<input type="text" class="form-control" placeholder="search product, category or brand" id="query" name="query" value="" style="width: 700px;">
				</li>

				<li style="margin-top: 13px; float: left;">
					<button type="submit" class="btn btn-success" style="float: left;">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</li>

			</ul>


	    <ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>

					<li class="text-right" style="margin-top: 13px; margin-right: 2px;">					
						<%= link_to "Welcome #{current_user.name}"  %>
					</li>		

					<li class="text-right" style="margin-top: 13px; margin-right: 2px;">
						<%= link_to "sign out", destroy_user_session_path, method: :delete  %>
					</li>				
				<% else %>
					<li class="text-right" style="margin-top: 13px; margin-right: 2px;">
						<%= link_to "signup", new_user_registration_path %>
					</li>
					<li class="text-right" style="margin-top: 13px; margin-right: 2px;">
						<%= link_to "sign in", new_user_session_path  %>
					</li>	
				<% end %>
			</ul>	
		</div>
	</div>


<% if user_signed_in?  && current_user.role_id== 1 %>
		<div style="background-color: #0A3151;">
			<div class="container">
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
            <li class="active"><%= link_to 'category', categories_path %></li>
            <li><%= link_to 'product', products_path %></li>
            <li><%= link_to 'bills', bills_path %></li>
            <li><%= link_to 'product_detail', product_details_path %></li>
          </ul>
				</div>
			</div>
		</div>
	<% else %>

	<div style="background-color: #0A3151;">
		<div class="container">
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">ELECTRONICS<b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<% (Category.all).each do |category| %>
								<% if get_parent_name(category.parent_id) == "Electronics" %>
	                <li><a href="#"><%= category.name %></a></li>
	                <ul class="dropdown-menu">
							      <li><a href="#">Dropdown link</a></li>
							      <li><a href="#">Dropdown link</a></li>
							    </ul>
	              <% end %>
	            <% end %>
	          </ul>
	        </li>

					<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">BOOKS<b class="caret"></b></a>
            <ul class="dropdown-menu">
            	<% (Category.all).each do |category| %>
								<% if get_parent_name(category.parent_id) == "Books" %>
              		<li><a href="#"><%= category.name %></a></li>
              	<% end %>
              <% end %>
            </ul>
          </li>

					<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">FASHION<b class="caret"></b></a>
            <ul class="dropdown-menu">
            	<% (Category.all).each do |category| %>
			  				<% if get_parent_name(category.parent_id) == "Fashion" %>
              		<li><a href="#"><%= category.name %></a></li>
              	<% end %>
              <% end %>
            </ul>
          </li>
					
				</ul>
			</div>
		</div>
	</div>
<% end %>

</nav>

<!--header End -->
</div>
