<% if user_signed_in?  && current_user.role_id== 1 %>
<div class="container" style="margin-top: 75px;">
  <div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<p id="notice"><%= notice %></p>
			<p>
			  <strong>Category:</strong>
			  <%= Category.find(@product.category_id).name %>
			</p>

			<p>
			  <strong>Product Name:</strong>
			  <%= @product.name %>
			</p>
			<p>
			  <strong>Description:</strong>
			  <%= @product.description %>
			</p>
			<p>
			  <strong>price:</strong>
			  <%= @product.price %>
			</p>
			<p>
			  <strong>Image:</strong>
			  <img src="<%= @product.image %>" />
			</p>

			<%= link_to 'Edit', edit_product_path(@product) %> |
			<%= link_to 'Back', products_path %>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
<% end %>
	