<br><br>
<h1><u>New bill</u></h1>


<%= form_for @bill  do |f| %>



		<div><%= f.label 'User Name' %><br />
		<%= f.collection_select :user_id, User.all, :id, :name, :prompt => "Select User"  %></div>
	

	<div><%= f.label 'Date' %><br />
	<%= f.datetime_select :date   %></div>

	<div><%= f.label 'total amount' %><br />
	<%= f.text_field :total_amount   %></div>

	<div><%= f.submit "Create Bill" %></div>
					
<% end %>
<br>


<h4>
<%= link_to 'Back', bills_path %>
</h4>