<div class="container" style="margin-top: 75px;">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1>Listing Roles</h1>
      <table>
        <thead>
          <tr>
            <th>Role</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @roles.each do |role| %>
            <tr>
              <td><%= role.name %></td>
              <td><%= link_to 'Show', role, :class=>"mrg_left" %></td>
              <td><%= link_to 'Edit', edit_role_path(role), :class=>"mrg_left" %></td>
              <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"mrg_left" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Role', new_role_path %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

