<h1> Lising the caterogies <h1>
	<table>
		<thead>
			<tr>
				<th>Category Id </th>
				<th> Category Name </th>
				<th></th>
				<th><th/>
				<th><th/>
			</tr>
		</thead>
		<tbody>
			<% categories.each do |category| %>
			<tr>
				<td><%= category.id %> </td>
				<td><%= category.name%> </td>
				<td><%= link to 'Show' ,category %></td>
				<td><%= link_to 'Edit',edit_user_path(category) %></td>
				<td><%= link_to 'Destroy',user,method: :delete,data: {confirm:'are you sure'} %> </td>
			</tr>
			<% end %>
		</tbody>
	</table>
  <br/>
  <%= link_to 'New category' ,new_category_path %>
