<div>
	<div class="row">	

		<div class="col-md-2"><b>PRODUCT</b></div>
		<div class="col-md-2"><b>ITEM</b></div>
		<div class="col-md-1"><b>QTY</b></div>
		<div class="col-md-1"><b>Price</b></div>
		<div class="col-md-1"><b>DESC</b></div>
		<div class="col-md-1"><b>SUBTOTAL</b></div>
		<div class="col-md-1"></div>					
	</div>
<br>
	<% if !session[:temporary_shopping_cart] %>
		<% session[:temporary_shopping_cart] =[] %>
	<% end -%>
	<% if session[:temporary_shopping_cart].length >0  %>
		<% total_amount =0 %>	
		<% session[:temporary_shopping_cart].each do |product_hash| %>			
				<% @product = Product.find(product_hash.keys[0])  %>
				<% @product_detail = ProductDetail.find_by_product_id(product_hash.keys[0]) %>
				<% quantity = product_hash.values[0] %>
				<% total_amount += @product.price * quantity %>
				
				<div class="row">
				<div class="col-md-2"><%= @product.id  %></div>				
				<div class="col-md-2"><%= @product.name  %></div>
				<div class="col-md-1"><%= quantity  %></div>				
				<div class="col-md-1"><%= @product.price  %></div>
				<div class="col-md-1"><%= @product.description  %></div>
				<div class="col-md-1"><%= @product.price*quantity  %></div>
				<div class="col-md-1"><%= link_to 'remove', carts_update_path(:product_id=>@product.id), :remote=>true%></div>	
			</div>
			<br>
		<% end -%>
		<br>
		<div style="width:75%;height:2px;background-color:black ;"></div>
		<br>
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-2">Total Amount:</div>
			<div class="col-md-2"><%= total_amount %></div>
		</div>
		
		<div class="Total">   
    </div>
	<% else %>
		<br>
		<div style="margin-left:30%;"> No product in Cart </div>
<% end -%>

<br>
<div style="width:75%;height:1px;background-color:#E0E0E0 ;"></div>
<br>
 <div class="footer row">
      <div class="col-md-7"> <%= link_to "CONTINUE SHOPPING", controller: "/homes", :action => :index  %></div>
     <div class="col-md-3" style="margin-left:15px;color:black;background-color:">
      <%= link_to_unless session[:temporary_shopping_cart].length <=0 , "PLACE ORDER",  controller: "/homes", :action => "generate_bill", total_amount: total_amount if CartsHelper.check_availabilty() %></div>
      
      </div>
</div>

