<div>
	<div class="row">
		
		<div class="col-md-1"><b>Product_Id</b></div>
		<div class="col-md-2"><b>Product_name</b></div>
		<div class="col-md-2"><b>unique Number</b></div>
		<div class="col-md-2"><b>Description</b></div>
		<div class="col-md-1"><b>Price</b></div>
		<div class="col-md-1"></div>
					
	</div>
<br>
	<% if session[:temporary_shopping_cart]   %>
		<% session[:temporary_shopping_cart].each do |product_id| %>
			<div class="row">
			<% @product = Product.find(product_id)  %>
			<% @product_detail = ProductDetail.find_by_product_id(product_id) %>
				<div class="col-md-1"><%= product_id  %></div>				
				<div class="col-md-2"><%= @product.name  %></div>
				<div class="col-md-2"><%= @product_detail.unique_id  %></div>
				<div class="col-md-2"><%= @product.description  %></div>
				<div class="col-md-1"><%= @product.price  %></div>
				<div class="col-md-1"><%= link_to 'remove', carts_update_path(:product_id=>product_id), :remote=>true%></div>	
			</div>
			<br>
		<% end -%>


<% end -%>
</div>


