<br><br><br><br>
<div class="row"><div class="col-md-4"></div>
<div class="col-md-2">
<h2>Edit <%= resource_name.to_s.humanize %></h2>
<% p current_user.id %>
<% p resource %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %> 
  <!--
  <%= f.email_field :email, :autofocus => true %>
  -->
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %> 
  <%= f.password_field :password, :autocomplete => "off" , :placeholder => "New Password" %>
  <br>  
  <%= f.password_field :password_confirmation, :placeholder => "Passsword confirmation" %>  
  <br>
  <%= f.password_field :current_password,  :placeholder => "Current Password" %>
  <br>
  <%= f.submit "Update", :class => 'btn btn-success' %> <%= link_to "Back", :back, :class => "btn" %>
<% end %>
</div>
<div class="col-md-4"></div>
</div>